body {
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#main {
    margin: 25px;
    min-height: 1000px;
}

.center {
    text-align: center;
}

a:link, a:visited {
    text-decoration: none;
    font-weight: bold;
    color: currentColor;
}

a:hover, a:active {
    text-decoration: underline;
    font-weight: bold;
    color: currentColor;
}

h1 {
    margin: 0px;
    padding: 80px;
    font-size: 40px;
    text-align: center;
    background-color: #72d7b6;
}

h2 {
    margin: 0px;
    padding: 10px;
    font-size: 25px;
    color: #0d3e3f;
}

#footer {
    margin: 0px;
    padding: 20px 0px 10px 0px;
    color: #ffffff;
    background-color: #081154;
}